body {
  background-color: #070e1d;
  color: #f9fafb;
  font-family: 'Arial', sans-serif;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  width: 70vw;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.form-container input[type="text"] {
  flex: 1;
  height: 26px;
  font-size: 14px;
  margin-bottom: 2px;
  background-color: #01014f;
  border: none;
  border-radius: 4px;
  padding: 4px 0px;
  color: #fff;
}

.form-container .orange-button {
  flex-shrink: 0;
  background-color: #f89430;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-left: 8px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.form-container .orange-button:hover {
  background-color: #e97d1d;
}

.form-container .orange-button.clicked {
  transform: scale(1.1);
  background-color: #ffae42;
}

.large-button {
  flex-shrink: 0;
  background-color: #f89430;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin-bottom: 2px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 2px;
  transition: background-color 0.3s;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

table {
  border: 3px solid #cfd2d4;
  border-spacing: 0;
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin: 4px auto;
  background-color: #0c0f1e;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  overflow: hidden;
}

th, td {
  border: 1px solid #26292c;
  padding: 8px;
  border-right: none;
  border-left: none;
}

th {
  background-color: #101d39;
  color: #f9fafb;
  font-size: 18px;
  padding: 14px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

td {
  font-size: 16px;
  padding: 8px;
  vertical-align: middle;
}

td:first-child {
  max-width: 40%;
  word-break: break-word;
  white-space: pre-wrap;
  padding: 0px;
  font-size: 16px;
}

td:nth-child(2) a {
  color: #6e8ebe;
  text-decoration: none;
  transition: color 0.3s;
  padding: 0px;
  font-size: 14px;
}

td:nth-child(2) a:hover {
  color: #ffd700;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

tr:not(:last-child) {
  border-bottom: 1px solid #26292c;
}

.delete-logo {
  width: 20px;
  height: 24px;
  cursor: pointer;
}

.red-text {
  color: red;
}

@media (orientation: landscape) {
  table, .form-container {
    width: 80vw;
    max-width: 80%;
  }

  .widget-container {
    width: 25vw;
    max-width: 25%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (orientation: portrait) {
  table, .form-container, .widget-container {
    width: 100vw;
    max-width: 100%;
  }
}

#myTable tr:hover {
  background-color: #0f1b36;
}

.coinmarketcap-currency-widget div[style*="padding:8px 0;"] {
  display: none !important;
}

.coinmarketcap-currency-widget div[style*="padding:8px 0;"] { display: none !important; }
.coinmarketcap-currency-widget div { border: none !important; }
.coinmarketcap-currency-widget a { font-size: 24px !important; }
.coinmarketcap-currency-widget img { width: 60px !important; height: 60px !important; }
